body {
	background-color: #0e273c;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

.heading {
	height: 200px;
	width: 100%;
	margin: 0;
	background-image: url("../../../imgs-css/record\ grooves\ banner\ .jpeg");
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 6em;
}

.fav-button {
	background-color: white;
}

.fav-button:focus {
	background-color: gold;
}
